
.icon {

    margin-left: 20px;
    font-size: 25px;
    
}

.lienSide {

    text-decoration: none ;
    color: black; 

}

.iconChild {

    margin-left: 30px;
    font-size: 20px;    
}

.label {

    font-size: 20px;
    margin-left: 10px;
    font-family :Verdana, Geneva, Tahoma, sans-serif ;
}

.labelChild {

    margin-left: 10px;
    font-family :Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 15px;
    text-decoration: none;
}
.ic {
    margin-left: 10px;
}

.btnSideBar {

    margin-bottom: 10px;
}

.lien {
    text-decoration: none;
    color: black;
}