.date-filter {
    width: "500px";
}


.calendarWrap {

    
    display: flex;
    justify-content: flex-end;
    

}
.iconC {
    color: #3949ab ;
    width: 40px;
    height: 37px;
}

.divider {

    margin-top    : 15px;
    margin-bottom : 20px;
}

